@model Matslump.Models.Receptmodels

@{
    ViewBag.Title = "Create";
}

<h2>Ditt matförslag för vecka @ViewBag.date</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.ActionLink("Slumpa fram ny", "Create", null, new { @class = "btn btn-default" })
        @if(ViewBag.check != 6)
        {<input type="submit" value="Spara veckomeny" class="btn btn-default" />}
        @Html.ActionLink("Avbryt", "index", null, new { @class = "btn btn-default" })
    </p>
    <table class="table">

        @foreach (var item in Model.Recept)
        {
            <tr>
                <td>
                    @item.Date.DayOfWeek <span> - </span> @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
               
                </td>
            </tr>}



    </table>
}


