@model Matslump.Models.Accountmodels

<br />
<br />
<br />
<div class="line-login">
    <h4>Vänligen logga in</h4>
    <hr />
</div>

@Html.AntiForgeryToken

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
             
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.user, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.user, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.user, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Logga in" class="btn btn-default btnadmin" /> @Html.ActionLink("Glömt lösenord", "Forgetpassword",new {id=2 } , new { @class = "btn btn-default" })
                    </div>
                </div>

            }
        </section>
    </div>
    <div class="col-md-4">
    </div>
</div>


