@model Matslump.Models.Receptmodels

@{
    ViewBag.Title = "Index";
}

<h2>Mina maträtter</h2>


<table class="table">
    <tr>
       
        
    </tr>

@foreach (var item in Model.recept) {
    <tr>
        <td>
            <a href="#@item.Id" data-toggle="collapse">@item.name</a>
            <div id="@item.Id" class="collapse">
                @item.description
           </div>
</td>
         <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Ta bort från min lista", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
