@model Matslump.Models.Receptmodels

@{
    ViewBag.Title = "Index";
}

<h2>Mina maträtter</h2>


<table class="table">
    <tr>
       
        
    </tr>

@foreach (var item in Model.Recept) {
    <tr>
        <td>
            <a href="#@item.Id" data-toggle="collapse">@item.Name</a>
            <div id="@item.Id" class="collapse">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive img-rounded" src="@item.Url_pic" alt="@item.Name" style="width:180px" />
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @item.Description <br /><a href="@item.Url_recept" target="_blank">Till receptet(extern)</a>
                        </div>

                    </div>


                </div>
            </div>
</td>
         <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Ta bort från min lista", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
