@model Matslump.Models.Receptmodels

@{
    ViewBag.Title = "AddNewFood";
}


<h2>Nytt Recept</h2>

@using (Html.BeginForm())
{

 
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "" }) *
            <div>
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class=" form-group">
            <div>
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "" }) *
                <div>
                    @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control"}})
                    <div>
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                   
                </div>
                
                @*<div class="col-md-6">
                <div id="strings">
                    <input type="text" name="allStrings[0]" value="First" />
                </div>
                <div id="newstring" style="display:none;">
                    <input type="text" name="allStrings[#]" />
                </div>
                <button type="button" id="addstring">Add</button>

            </div>*@
            </div>
       
        </div>
       
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Spara" class="btn btn-default" /> @Html.ActionLink("Avbryt", "All" , null,new {@class = "btn btn-default" })
                </div>
            </div>
        </div>

}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script>
        var container = $('#strings');
        $('#addstring').click(function () {
            var index = container.children('input').length;
            var clone = $('#newstring').clone();
            clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
            container.append(clone.html());
            container.children('input').last().focus();
        });
</script>*@