@model Matslump.Models.Receptmodels

@{
    ViewBag.Title = "All";
}

<h2>Receptdatabasen</h2>

<p>
    @Html.ActionLink("Lägg till nytt recept", "addnewfood",null, new { @class = "btn btn-default" })
</p>
<table id="food" class="table">
    <tr>
     
        
    </tr>

@foreach (var item in ViewBag.food)
{
    bool check = false;
    <tr>
        <td>
            <a href="#@item.Id" data-toggle="collapse">@item.Name</a>
            <div id="@item.Id" class="collapse">
               <div class="row">
                   <div class="col-md-3">
                       <img class="img-responsive img-rounded" src="@item.Url_pic" alt="@item.Name" style="width:180px"/>
                   </div>
                   <div class="row">
                       <div class="col-md-4">
                           @item.Description <br /><a href="@item.Url_recept" target="_blank">Till receptet(extern)</a>
                       </div>
                      
                       </div>
                
                   
                </div>
            </div>
        </td>
        <td>
           
           
            @foreach (var item1 in ViewBag.Myfood)
            {
                if (item.Id == item1.Id)
                {
                    check = true;
                }
             
            }
            @if (check)
            {
                <i class="fa fa-check" style="color:forestgreen" aria-hidden="true"> Redan tillagd</i>
            }
            else
            {
                @Html.ActionLink("Lägg till i Minlista", "AddToMyFood", new { id = item.Id })
            }
           | @Html.ActionLink("Ändra", "Editfood", new { id = item.Id }) 
            
            
        </td>
        
    </tr>
}

</table>

