@model Matslump.Models.Users

@{
    ViewBag.Title = "Index";
}

<h2>Användare</h2>

<p>
    @Html.ActionLink("Skapa ny användare", "NewUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_login)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.userlist) {
    <tr>
        <td>
            @item.User
        </td>
        <td>
            @item.email
        </td>
        <td>
            @if (item.active == true)
            {
                <p>Aktivt</p>
            }
            else
            {
                <p>Ej aktiverat</p>
            }
        </td>
        <td>
            @if (item.Roles_id == 1)
            {
                <p>Admin</p>
            }
            else
            {
                <p>Användare</p>
            }

            
        </td>
        <td>
            @item.Last_login
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.User_id }) |
            @Html.ActionLink("Delete", "#", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
